body{
	font-family: Tahoma;
	padding: 2em;
}

.notice{
text-align: center;
color: #0c0c0c;
font-weight: bold;
background-color: #F4A18F;
/*width: 100% - 1px;*/
width: 33%;
margin-left: 1.35em;
padding: 8px;
border-top: solid #ECD4CF 8px;
margin-top: 32px;
}

/* ------------------------- */
.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.minitext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}
