body{
background-image: url('graphics/back2.jpg');
background-repeat: repeat;
font-family: Tahoma;
color: #000000;
margin: 0px;
font-size: 14px;
	scrollbar-face-color:#80A6F2;
	scrollbar-highlight-color:##FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#ffffff;
	scrollbar-track-color:#FFFFFF;
}

.highlight{
}

#rev2, #rev3, #rev4, #rev5 { display: none; }


img{
border: 0px;
}

.notice{
text-align: center;
color: #0c0c0c;
font-weight: bold;
background-color: #F4A18F;
/*width: 100% - 1px;*/
width: 33%;
margin-left: 1.35em;
padding: 8px;
border-top: solid #ECD4CF 8px;
margin-top: 32px;
}


div.section{
background-color: #454A54;
padding: 5px;
width: 80px;
}

div.offset{
margin-left: 100px;
margin-top: 40px;
}

div.header{
padding-left: 90px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

.rightsel{
	line-height: 2.35em;
}


font.header{
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

.footer{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
clear: both;
}

a:link {color: #0066cc;    text-decoration: none;}
a:hover {color: #0066cc;   text-decoration: underline!important;}
a:active {color: #0066cc;  text-decoration: none;}
a:visited {color: #0066cc; text-decoration: none;}

/* ----------------- listamatic menu -----------------  */
#navcontainer ul
{
padding-bottom: 6px;
padding-top: 5px;
padding-left: 100px;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0px;
background-color: #576060;
color: white;
max-width: 100%;
font-family: Tahoma,Helvetica,sans-serif;
line-height: 18px; /* fixes Firefox 0.9.3 */

}

#navcontainer ul li
{
display: inline;
padding-left: 0;
padding-right: 0;
padding-bottom: 5px;
text-align: center;
/* matches link padding except for left and right */
padding-top: 5px;
}

#navcontainer ul li a
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #576060;
text-decoration: none;
}

#navcontainer  #current
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #1f1c1c;
text-decoration: none;
}

#navcontainer ul li a:hover
{
background-color: #1f1c1c;
color: white;
}

/* ----------------- listamatic menu -----------------  */

.listingheader {
    font-style: italic; text-decoration: underline;
    color: rgb(209, 0, 47); 
}

.splitmenu ul
{
text-align: left;
padding-bottom: 5px;
padding-top: 0px;
padding-left: 0;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0;
width: 100%;
line-height: 18px;
/* fixes Firefox 0.9.3 */
}

.splitmenu ul li
{
/* display: inline; */
padding-left: 0;
padding-right: 0px;
padding-bottom: 5px;
/* matches link padding except for left and right */
padding-top: 5px;
color: #000000;

}

.splitmenu ul li a
{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
text-decoration: none;
}

.splitmenu .viewdis { 
	/* aquamarine background-color: rgb(0, 235, 172); */
	background-color: rgb(255, 235, 201);
	border-top: 3px solid #000000;
	border-left: 3px solid #000000;
	border-bottom: 3px solid #000000;
	width: 140px;
}

.splitmenu ul li a:hover{
    /* background-color: rgb(0, 235, 172); */
}

.splitmenu ul .active a:hover{
    background-color: rgb(255, 235, 201);
} 

.splitmenu ul .active { 
background-color: rgb(186,31,64);
/* text-decoration: underline; */
} 

ul{
list-style-type: none;
padding: 0;
margin: 0;
}

/*
li{
padding: 0;
margin: 0;
}
*/

li:hover { 
background-color: rgb(0, 235, 172);
/* background-image: url('themes/one/1205.png'); color: #cc0000; */
}

/*
li.selected { 
background-color: #555952; 
background-image: url('themes/one/1205.png'); color: white;

}
*/


/* ------------------------- */
.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.minitext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.tb {
	border: 1px dotted #697F94;
}

td{
font-size: 12px;
line-height: 20px;
}

div.column{display:inline;float:left;vertical-align:middle;}
div.row{display:block;/*float:left;*/vertical-align:middle;clear:both;}