body{
background-image: url('back.jpg');
background-repeat: repeat;
font-family: Tahoma;
color: dcdcdc;
margin: 0px;
}

div.section{
background-color: #454A54;
padding: 5px;
width: 80px;
}

div.offset{
margin-left: 100px;
margin-top: 60px;
}

font.header{
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

a:link {color: #0066cc;}
a:hover {color: #0066cc;}
a:active {color: #0066cc}
a:visited {color: #0066cc;}

/* ----------------- listamatic menu -----------------  */
#navcontainer ul
{
padding-bottom: 6px;
padding-top: 5px;
padding-left: 100px;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0px;
background-color: #454A54;
color: white;
max-width: 100%;
font-family: Tahoma,Helvetica,sans-serif;
line-height: 18px; /* fixes Firefox 0.9.3 */

}

#navcontainer ul li
{
display: inline;
padding-left: 0;
padding-right: 0;
padding-bottom: 5px;
text-align: center;
/* matches link padding except for left and right */
padding-top: 5px;
}

#navcontainer ul li a
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #454A54;
text-decoration: none;
}

#navcontainer  #current
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #1f1c1c;
text-decoration: none;
}

#navcontainer ul li a:hover
{
background-color: #1f1c1c;
color: white;
}


.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.minitext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}
